/* ==========================================================================
   Single Event Page
   ========================================================================== */
   .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-inline: auto;
    max-width: var(--container-width);
    width: 100%;
    position: relative;
    padding-inline: 16px;
  
    @media only screen and (max-width: 767px) {
      padding-inline: 4.1025vw;
    }
  
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-inline: 1.6666vw;
    }
  
    &.block {
      display: block;
    }
  }

  .btn__primary {
    display: inline-flex;
    min-width: 125px;
    padding-block: 10px 9px;
    padding-inline: 18px;
    flex-shrink: 0;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 1px solid var(--primary);
    transition: background 0.3s ease-in-out;
    background: var(--bg);
    color: var(--primary);
    font-family: var(--font-headings);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background: var(--primary);
        color: var(--bg);
    }
}

.eventHeader {

}
.eventHeader__wrap {
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-block: 6.9444vw 2.222vw;
      &:before {
        content: '';
        display: block;
        user-select: none;
        white-space: pre;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--bg-dark);
        width: 100%;
        height: 28.981vh;
    }
    }

    
}
.eventHeader__media {
    position: relative;
    width: 100%;
    height: auto;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {

    }

}
.eventHeader__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 359/359;
    height: 53.662vw;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      border-radius: var(--bradius);
      height: 37.5vh;
    }

}
.eventHeader__meta {
    position: absolute;
    padding-block: 24px 12px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      height: 33%;
    }
}
.eventHeader_time,
.eventHeader__location {
  color: var(--white);
  margin: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-inline: 16px;
}
.eventHeader__date {
    color: var(--white);
    padding-inline: 16px;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      max-width: 100%;
    }
}
.eventHeader__location {
    margin-top: 4px;
}

.eventHeader__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      border-bottom-right-radius: var(--bradius);
      border-bottom-left-radius: var(--bradius);
    }
  }


  /*
     Main Content section
     ========================================================================== */

.eventMain {
  margin-block: 40px 64px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 6.944vw;
  }
}
.eventContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.contentLeft {
  padding-block: 0 24px;
  width: 100%;
  margin-bottom: 16px;
  padding-inline: 16px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 3.333vw 1.6666vw;
    padding-block: 0 2.222vw;
    width: 58.33%;
    margin-bottom: 0;
  }

}
.contentLeft__top, .contentLeft__main {

}

.contentLeft__top {
  border-top-left-radius: var(--bradius);
  border-top-right-radius: var(--bradius);
  padding-block:  24px 10px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 1.666vw 0.6944vw;
  }
}
.contentLeft__label {
  right: 10px;
  top: 10px;
  background: var(--bg-dark);
  border: 2.5px solid var(--primary);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 200px;
  color: var(--white);
}
.contentLeft__main {
  padding-top: 24px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-top: 2.222vw;
  }

}
.contentLeft__items {
  display: flex;
  gap: 16px;
  padding: 16px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    gap: 1.666vw;
    padding-block: 1.111vw;
  }
}
.contentLeft__cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.contentLeft__label {

}
.contentLeft__title {

}
.contentLeft__location {

}
.contentLeft__text {

}

.contentRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-block: 0 64px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.111vw 3.333vw;
    margin-block: 0;
    flex-direction: column;
    width: 41.66%;
    gap: 48px;
    border-left: 1px solid var(--primary);
  }

}
.contentRight__cost {
  font-family: var(--font-headings);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background: var(--bg-dark);
  border-radius: var(--bradius);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 24.3055vw;    
  }

}
.contentRight__cost_top {
  width: 100%;
  background: var(--bg-dark);
  padding: 16px;
  border-top-right-radius: var(--bradius);
  border-top-left-radius: var(--bradius);
}
.contentRight__cost_top > h4 {
  margin-bottom: 0;
  text-transform: none;
}
.contentRight__cost_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  color: var(--bg-dark);
  padding-block: 32px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: var(--bradius);
  border-bottom-right-radius: var(--bradius);
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 3.3333vw;
  }
}

.contentRight__item {
  display: flex;
  flex-direction: column;
  background: var(--bg-dark);
  border-radius: var(--bradius);
  padding: 16px;
  flex: 1;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 1.111vw;
    padding-inline: 1.666vw;
  }

}
.contentRight__title {
  display: flex;
  align-items: center;
  gap: 8px;

}
.contentRight__subtitle {

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-left: 32px;
  }
}

.contentRight__link {
  font-size: 1.2rem;
  line-height: 1.35;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-top: 10px;
  margin-top: auto;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      margin-left: 32px;
      padding-top: 0.6944vw;
  }
}
.contentMain {
  background: var(--bg);
  margin-top: 40px;
  border-radius: var(--bradius);
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 2.222vw;
    gap: 2.222vw;
  }

}
.contentMain__top {
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-left: 2.222vw;
  }

}
.contentMain__text {
}
  

/*
   Recommended 
   ========================================================================== */


.recommendedSection {
  flex-direction: column;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 64px;
  }

}
.recommendedSection {

}
.recommendedSection__wrap {

}
.recommendedSection__top {
  justify-content: space-between;
}
.recommendedSection__title {

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.6666vw;
  }

}
.swiperWrap {
  padding-inline: 16px;
  padding-top: 50px;
  
  @media only screen and (max-width: 767px) {
    padding-inline: 4.1025vw;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.6666vw;
  }

}