:root {
  /* Font families */
  --font-body: "Quicksand-Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-headings: "GeneralSans-Medium", -apple-system, BlinkMacSystemFont, sans-serif;

  /* CSS HEX */
  /* --bg: #fcf6ecff;
  --primary: #283cffff; */
  /* --bg: #381026; */
  --bg: #000f0a;
  --bg-dark: #0d1b16;
  /* --primary: #FF5745; */
  --primary: #7dffaf;
  --secondary: #02f559;
  --pink: #ef92b8;
  --red: #ff5745;
  --black: #1a1a1a;
  /* --white: #f4e0d9; */
  --white: #f4f4f4;

  /*  Grid  */
  --container-width: 100%;

  /* Type */
  --txt-small: 1.2rem;

  /* Other */
  --bradius: 24px;
  --bradius-inner: 8px;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--bg);
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  font-family: var(--font-body);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    max-width: 450px;
  }
}
.visible {
  display: block !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  font-family: var(--font-headings);
}
h1,
.h1 {
  font-size: clamp(2.8rem, 2.9166vw, 4.2rem);
  font-weight: 600;
  line-height: 1.1;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      line-height: normal;
  }
}
h2,
.h2 {
  font-size: clamp(2.6rem, 2.4305vw, 3.5rem);
  font-weight: 600;
}

h3,
.h3 {
  font-size: clamp(2.4rem, 1.9444vw, 2.8rem);
  font-weight: 600;
}
h4,
.h4 {
  font-size: clamp(1.8rem, 1.5277vw, 2.2rem);
  font-weight: 500;
}

.txt-small {
  font-size: 1.2rem;
  line-height: 1.35;
  font-weight: 400;
}
.txt-medium {
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.fp-col {
  display: flex;
  flex-direction: column;
}
.fp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link__underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  &:hover {
    text-decoration-color: var(--primary);
  }
}

/* Grid system */

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-inline: auto;
  max-width: var(--container-width);
  width: 100%;
  position: relative;
  padding-inline: 16px;

  @media only screen and (max-width: 767px) {
    padding-inline: 4.1025vw;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.6666vw;
  }

  &.block {
    display: block;
  }
}

.col-12 {
  width: 100%;
}

/* For iphone: */
@media only screen and (max-width: 767px) {
  .col-m-none {
    display: none;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* For ipad: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .col-t-none {
    display: none;
  }
  .col-t-1 {
    width: 8.33%;
  }
  .col-t-2 {
    width: 16.66%;
  }
  .col-t-3 {
    width: 25%;
  }
  .col-t-4 {
    width: 33.33%;
  }
  .col-t-5 {
    width: 41.66%;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-7 {
    width: 58.33%;
  }
  .col-t-8 {
    width: 66.66%;
  }
  .col-t-9 {
    width: 75%;
  }
  .col-t-10 {
    width: 83.33%;
  }
  .col-t-11 {
    width: 91.66%;
  }
  .col-t-12 {
    width: 100%;
  }
}

/* For desktop: */
@media only screen and (min-width: 1025px) {
  .col-d-none {
    display: none;
  }
  .col-d-1 {
    width: 8.33%;
  }
  .col-d-2 {
    width: 16.66%;
  }
  .col-d-3 {
    width: 25%;
  }
  .col-d-4 {
    width: 33.33%;
  }
  .col-d-5 {
    width: 41.66%;
  }
  .col-d-6 {
    width: 50%;
  }
  .col-d-7 {
    width: 58.33%;
  }
  .col-d-8 {
    width: 66.66%;
  }
  .col-d-9 {
    width: 75%;
  }
  .col-d-10 {
    width: 83.33%;
  }
  .col-d-11 {
    width: 91.66%;
  }
  .col-d-12 {
    width: 100%;
  }
}

.fp {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}


/*
   Site Footer
   ========================================================================== */
.siteFooter {
  background: var(--bg-dark);
  padding-block: 32px;
  color: var(--white);
  display: flex;
  gap: 16px;
  margin-top: 32px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 6.94444vw;
    padding-block: 4.444vw;
    padding-inline: 1.6666vw;
  }
}
.siteFooter__wrap {
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 1.6666vw 3.888vw;
  }

}
.footer__contacts {
  padding-bottom: 32px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-bottom: 0;
  }
}
.contact_desc {
  margin-bottom: 24px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 2.2222vw;
  }

}
.info {

}
.footer__contacts > h2 {
  margin-bottom: 4px;
}
.footer__contacts > p:last-of-type {
  margin-top: 8px;
}
.siteFooter__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 56px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-left: 13.8888vw;
    gap: 4.4444vw;
    margin-top: 0;
  }
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    gap: 1.1111vw;
  }
}
.footerList > a {
  transition: color 0.2s ease;
  &:hover {
    color: var(--primary);
  }
}
.footerList > h4 {
  margin-bottom: 24px;
  text-transform: uppercase;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      margin-bottom: 2.2222vw;
  }
}


/*
   Modals
   ========================================================================== */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.5px);
  border: none;
  opacity: 0;
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacity 0.6s cubic-bezier(0.5, 1, 0.89, 1) forwards;
  opacity: 1;
}

.modal__body {
  height: 100%;
}

.modal__content {
  background-color: var(--bg-dark);
  border-radius: var(--bradius);
  padding: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 90vw;
    height: 75vh;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal__title {
  margin-bottom: 0;
}

.modal__close {
  cursor: pointer;
  height: fit-content;
  font-weight: bold;
  transition: color 0.2s ease;
  color: var(--white);
}

.modal__close:hover,
.modal__close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  gap: 16px;
}

.btn__primary.btn__cancel {
  background: var(--red);
  border: none;
  color: var(--bg-dark);
  transition: opacity 0.2s ease;
  &:hover {
    background: var(--red);
    opacity: 0.9;
    color: var(--bg-dark);
  }
}

.updateProfile__btn {
  align-self: flex-end;
  margin-top: auto;
}

.like__btn {
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--white);
  color: var(--bg-dark);
  gap: 8px;
  border-radius: 999px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  transition: all 0.2s ease;
  &:hover {
    background: var(--primary);
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      gap: 0.5555vw;
  }
}
.like__btn svg {
  stroke: var(--red);
  transition: stroke 0.2s ease;
}
.like__btn:hover svg {
}

/* ** Alert modal ** */
.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.5px);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: var(--bg-dark);
  border-radius: var(--bradius);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--white);
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  margin-top: 16px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 1.111vw;
  }
}
.AlertDialog__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    gap: 0.5555vw;
  }
}

.AlertDialog__cancel {
  background: var(--red);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/*
   Buttons
   ========================================================================== */
*.btn__primary {
  width: fit-content;
}

.btn__primary {
  display: inline-flex;
  min-width: 125px;
  padding-block: 10px 9px;
  padding-inline: 18px;
  flex-shrink: 0;
  border-radius: 200px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid var(--primary);
  background: var(--bg);
  color: var(--primary);
  font-family: var(--font-headings);
  font-weight: 500;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--primary);
    color: var(--bg);
  }
}

.btn__secondary {
  color: var(--bg);
  background: var(--primary);
  &:hover {
    background: var(--bg);
    color: var(--white);
  }
}

.btn__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttons__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/*
   Search bar
   ========================================================================== */
.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 325px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    max-width: 25vw;
  }
}
.searchBar__input {
  background: var(--bg-dark);
  padding-block: 10px;
  padding-inline: 20px 32px;
  border: 1px solid var(--primary);
  border-radius: 200px;
  width: 100%;

  &::placeholder {
    color: var(--white);
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    min-width: 200px;
  }
}
.searchBar__btn {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  transition: background 0.2s ease;
}
.searchBar__icon {
}

/*
   Date Range Picker
   ========================================================================== */
.dateRangePicker {
}

div[data-testid="underlay"] {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.5px);
}

/*
   Log In and Sign up forms
   ========================================================================== */
.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background: var(--bg-dark);
  border-radius: var(--bradius);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    gap: 2.2222vw;
    padding: 1.666vw;
  }
}
.editForm {
  height: 100%;
  box-shadow: none;
}
.editEventForm {
  width: 100%;
  max-width: 71.1111vw;
  margin-inline: auto;
}

.formNav {
  display: flex;
  justify-content: space-between;
}
/* Align to the end if the only child has the class .formNav__btn--next */
.formNav:has(> .formNav__btn--next:only-child) {
  justify-content: flex-end;
}

/* Align to the start if the only child has the class .formNav__btn--prev */
.formNav:has(> .formNav__btn--prev:only-child) {
  justify-content: flex-start;
}
.formNav__btn {
}

.loginForm__section,
.signupForm__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  align-items: center;
  margin-top: 64px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 6.944vw;
  }
}

.tabs__list {
  position: relative;
  display: flex;
  background: var(--white);
  border-radius: 200px;
  border: 1px solid var(--white);
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-inline: 3px;
  padding-block: 3px;
  margin-block: 0 4.1025vw;
  margin-inline: auto;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 16.388vw;
    margin-block: 0 1.111vw;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    user-select: none;
    white-space: pre;
    width: 50%;
    height: calc(100% - 6px);
    background-color: var(--bg);
    z-index: 0;
    left: 3px;
    right: 3px;
    border-radius: 200px;
    transition: transform 300ms ease-in-out;
  }
}

.tabs__list.slide-right::before {
  transform: translate(calc(100% - 6px));
}

.tabs__trigger {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: var(--bg);
  background: none;
  border-radius: 200px;
  border: none;
  z-index: 1;
  gap: 8px;
  width: calc(50% + 8px);
  padding-block: 14px 12px;
  padding-inline: 0 3px;
  cursor: pointer;
  transition: color 0.3s ease;

  &[data-state="active"] {
    transition-delay: 200ms;
    color: var(--primary);
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 8.333vw;
    justify-content: center;
  }
}

.tabs__content {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs__content[data-state="active"] {
  opacity: 1;
  transform: translateY(0);
}

.tabs__content[data-state="inactive"] {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  position: absolute;
}

.loginOptions {
  display: flex;
  gap: 16px;
  flex-direction: row;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    gap: 1.111vw;
  }
}

.logInOption {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--bradius-inner);
  padding-block: 64px;
  padding-inline: 32px;
  background: var(--bg-dark);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 20.8333vw;
      
  }

}
.loginOption__title {
  margin-bottom: 0;

}

/*
     Form styles
     ========================================================================== */

.form__row {
  display: flex;
  flex-direction: column;
}
.input__wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.input__wrap > .input__icon {
  display: flex;
  pointer-events: none;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;

  &.is--success {
    color: var(--white);
    opacity: 0.7;
  }
  &.is--error {
    color: red;
    opacity: 0.7;
  }
}

.input__wrap > .form__input[data-invalid="true"] ~ .input__icon.is--success {
  opacity: 1;
}

.form__label {
  color: var(--white);
  margin-bottom: 8px;
}

.form__input {
  padding: 10px;
  border: 1px solid var(--white);
  background: var(--bg);
  border-radius: 4px;
  transition: box-shadow 0.2s ease;
  color: var(--white);
  width: 100%;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {

  }
}
.form__input::placeholder {
  color: var(--white);
  opacity: 0.6;
  font-size: 1.2rem;
  line-height: 1.35;
}

.form__input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

.input__error {
  text-align: center;
  padding: 12px;
  background: var(--bg-dark);
  border-radius: var(--bradius);
  margin-top: 8px;
  color: var(--red);
}
.input__message {
  color: var(--red);
  font-size: 1.2rem;
  line-height: 1.35;
  margin-top: 8px;
  max-width: 42ch;
  margin-left: 8px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 0.5555vw;
    margin-left: 0.5555vw;
  }
}

.login__success,
.signup__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 12px;
  padding-inline: 24px;
  text-align: center;
  border-radius: var(--bradius);
  background: var(--bg-dark);
  margin-bottom: 8px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 1.111vw;
    padding-inline: 1.6666vw;
    margin-bottom: 1.111vw;
  }
}

.login__success > span,
.signup__success > span {
  margin-top: 8px;
}

/* Override Google sign in button styles */

#googleBtn {
  width: fit-content;
  margin-inline: auto;
}

/*
   Edit Event Page
   ========================================================================== */
.editEvent__header {
  margin-block: 32px 64px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-block: 4.444vw;
  }
}
.editEvent__header > h1 {
  margin-inline: auto;
  text-align: center;
}

/*
   Other styles
   ========================================================================== */
.sticky_top {
  position: sticky;
  top: 0; /* Adjust the top value as needed */
  z-index: 10; /* Ensure the sticky element is above other content */
}

/*
  Swiper
  ========================================================================== */

.eventSwiper {
  border-radius: var(--bradius);
}
.eventSwiper > .swiper-button-prev,
.eventSwiper > .swiper-button-next {
  color: var(--primary);
}

/*
     FONTS
     ========================================================================== */

/**
      * @license
      *
      * Font Family: Quicksand
      * Designed by: Andrew Paglinawan
      * URL: https://www.fontshare.com/fonts/quicksand
      * Â© 2024 Indian Type Foundry
      *
      * Quicksand Medium 

      *
      */

@font-face {
  font-family: "Quicksand-Medium";
  src: url("../../public/assets/fonts/Quicksand-Medium.woff2") format("woff2"),
    url("../../public/assets/fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/**
* @license
*
* Font Family: General Sans
* Designed by: Frode Helland
* URL: https://www.fontshare.com/fonts/general-sans
* © 2024 Indian Type Foundry
*
* General Sans Variable (Variable font)

*
*/
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../../public/assets/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("../../public/assets/fonts/GeneralSans-Variable.woff") format("woff");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
