.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-inline: auto;
  max-width: var(--container-width);
  width: 100%;
  position: relative;
  padding-inline: 16px;

  @media only screen and (max-width: 767px) {
    padding-inline: 4.1025vw;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.6666vw;
  }

  &.block {
    display: block;
  }
}
  
  .heroSection {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .header__title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  
  .highlight {
    background: linear-gradient(120deg, var(--orange) 0%, var(--pink) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .filterCards {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin: 2rem auto;
  }
  
  .firstButton, .secondaryButton, .tertiaryButton {
    width: 100%;
    margin-top: auto;
  }

  .btn__primary {
    display: inline-flex;
    min-width: 125px;
    padding-block: 10px 9px;
    padding-inline: 18px;
    flex-shrink: 0;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 1px solid var(--orange);
    transition: background 0.3s ease-in-out;
    background: var(--background);
    color: var(--orange);
    font-family: var(--font-headings);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background: var(--orange);
        color: var(--background);
    }
}


/*
   Content Section
   ========================================================================== */

  .mainContainer {
    background: var(--background);
    display: block;

  }
  .mainContainer__header {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  .content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      flex-direction: row;
    }


  }
  .content_sidebar {
    width: 25%;
    padding-right: 32px;

  }
  .sidebar__title {

  }
  .sidebar__filters {

  }
  .sidebarList {
    list-style-type: none;

  }
  .sidebar__filter {
    padding-block: 5px;
    width: fit-content;
    background: var(--orange);
    color: var(--white);
    min-width: fit-content;

    &:hover {
      background: var(--background);
      color: var(--orange);
    }

  }
  .content_main {
    width: 75%;
    display: flex;
    flex-direction: column;

  }
  .mapBtn {
    margin-left: auto;
    margin-bottom: 24px;
  }
  .eventsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      gap: 1.666vw;
    }

  }
  .eventsCard {
    background: var(--white);
    color: var(--orange);
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: var(--bradius);

  }
  .eventsCard_media {
    height: 200px;
    border: 1px solid var(--orange);
    width: 100%;

  }
  .eventsCard__label {

  }
  .eventsCard__inner {

  }
  .eventsCard__title {

  }
  .eventsCard__description {

  }
  .eventsCard__link {

  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
