.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-inline: auto;
  max-width: var(--container-width);
  width: 100%;
  position: relative;
  padding-inline: 16px;

  @media only screen and (max-width: 767px) {
    padding-inline: 4.1025vw;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.6666vw;
  }

  &.block {
    display: block;
  }
}
  
  .heroSection {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .header__title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  
  .highlight {
    background: linear-gradient(120deg, var(--primary) 0%, var(--pink) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .filterCards {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin: 2rem auto;
  }
  
  .firstButton, .secondaryButton, .tertiaryButton {
    width: 100%;
    margin-top: auto;
  }

  .btn__primary {
    display: inline-flex;
    min-width: 125px;
    padding-block: 10px 9px;
    padding-inline: 18px;
    flex-shrink: 0;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 1px solid var(--primary);
    transition: background 0.3s ease-in-out;
    background: var(--bg);
    color: var(--primary);
    font-family: var(--font-headings);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background: var(--primary);
        color: var(--bg);
    }
}


/*
   Content Section
   ========================================================================== */

  .mainContainer {
    background: var(--bg);
    display: block;

  }
  .mainContainer__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.666vw;
    margin-bottom: 2.222vw;
    border-bottom: 1px solid var(--primary);

  }
  .content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      flex-direction: row;
    }


  }
  .content_sidebar {
    padding: 16px;
    border-radius: 8px;
    background: var(--bg-dark);
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      margin-right: 16px;
      width: 25%;
      padding-inline: 1.111vw;
      padding-block: 1.666vw 0.6944vw;
    }

  }
  .sidebar__title {

  }
  .sidebar__filters {

  }
  .sidebarList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      flex-direction: column;
      gap: 0.8333vw;        
    }

  }
  .sidebar__filter {
    padding-block: 5px;
    width: fit-content;
    background: var(--bg-dark);
    border: 1px solid var(--primary);
    color: var(--white);
    min-width: fit-content;

    &:hover {
      background: var(--primary);
      color: var(--bg);
    }

  }
  .content_main {
    width: 75%;
    display: flex;
    flex-direction: column;

  }
  .mapBtn {
    background: var(--bg-dark);
    margin-left: auto;
  }
  .eventsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      gap: 1.666vw;
    }

  }
  .eventsCard {
    background: var(--bg-dark);
    color: var(--primary);
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: var(--bradius);
  }
  .eventsCard_media {
    height: 200px;
    border: 1px solid var(--primary);
    width: 100%;

  }
  .eventsCard__label {

  }
  .eventsCard__inner {
    display: flex;
    flex-direction: column;

  }
  .eventsCard__title {
    margin-block: 12px;

  }
  .eventsCard__description {

  }
  .eventsCard__location {

  }
  .eventsCard__link {
    width: 100%;
    border: none;
    margin-top: 24px;

  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
