
/* ==========================================================================
   Home
   ========================================================================== */
   .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-inline: auto;
    max-width: var(--container-width);
    width: 100%;
    position: relative;
    padding-inline: 16px;
  
    @media only screen and (max-width: 767px) {
      padding-inline: 4.1025vw;
    }
  
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-inline: 1.6666vw;
    }
  
    &.block {
      display: block;
    }
  }
  
  .col-12 {
    width: 100%;
  }

.main {
  height: 100%;
  width: 100%;
}
.heroSection {
  margin-block: 8.205vw;
  align-items: stretch;
  display: flex;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-block: 5vw;
  }
  
}
.heroSection__main {
  margin-bottom: 8.2051vw;
  
  @media only screen and (min-width: 1025px) {
      width: 50%;
      padding-inline: 3.333vw 2.222vw;
      margin-bottom: 0;
  }
}
.heroSection__title {

}
.heroSection__text {

}
.stats {

}
.heroSection__btns {
  display: flex;
  padding-top: 24px;
  gap: 16px;
  @media only screen and (min-width: 1025px) {
      padding-top: 32px;
  }

}
.heroSection__side {
  width: 100%;
  @media only screen and (min-width: 1025px) {
      width: 50%;
      padding-inline: 8.0555vw 3.333vw;
  }

}
.heroSection__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*
   USP Grid
   ========================================================================== */

   .uspContainer {
     padding-block: 32px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-block: 3.888vw;
    }
  }
  
  .uspGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .uspItem {
    flex: 1;
    text-align: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-width: 150px;
  }
  
  .uspItem:hover {
    transform: translateY(-5px);
  }
  
  .uspIcon {
    font-size: 3rem;
    display: block;
    margin-bottom: 1rem;
  }
  
  .uspTitle {
    color: var(--blue);
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  
  .uspDescription {
    color: var(--lighblue);
    font-size: var(--txt-small);
    line-height: 1.35;
  }