/* ==========================================================================
    Profile Page Styles
   ========================================================================== */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-inline: auto;
  max-width: var(--container-width);
  width: 100%;
  position: relative;
  padding-inline: 16px;

  @media only screen and (max-width: 767px) {
    padding-inline: 4.1025vw;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-inline: 1.6666vw;
  }

  &.block {
    display: block;
  }
}
.btn__primary {
  display: inline-flex;
  min-width: 125px;
  padding-block: 10px 9px;
  padding-inline: 18px;
  flex-shrink: 0;
  border-radius: 200px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid var(--primary);
  background: var(--bg);
  color: var(--primary);
  font-family: var(--font-headings);
  font-weight: 500;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--primary);
    color: var(--bg);
  }
}

.profileHeader {
  padding-block: 32px;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding-block: 4.444vw 3.888vw;
  }
}
.profileCard {
  position: relative;
  background: var(--bg-dark);
  border-radius: var(--bradius);
  padding: 16px;
  width: 100%;
  overflow: hidden;

  @media only screen and (min-width: 1025px) {
    padding: 1.1111vw;
  }
}
.profileCard__edit {
  height: fit-content;
  align-self: flex-start;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-left: auto;
  }
}
.profileCard__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}
.profileCard__top > div:first-child {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 100%;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-right: 40px;
  }
}
.personalInfoList {
  margin-top: 16px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    gap: 24px;
  }
}
.personalInfo__card {
  padding-left: 10px;
  border-left: 1px solid var(--primary);
}
.personalInfo__card > span {
  font-size: 1.2rem;
  line-height: 1.35;
  opacity: 0.8;
}
.personalInfo__card > p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.image {
  border-radius: var(--bradius);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  align-self: flex-start;
  aspect-ratio: 1/1;
  width: 25.641vw;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 8.6111vw;
    height: 8.6111vw;
  }
}
.name {
  margin-bottom: 0;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
  }
}
.profileCardList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 32px;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    gap: 0.8333vw;
    margin-top: 2.777vw;
  }
}
.profileCardList__item {
  flex: 1;
  background: var(--bg);
  padding-block: 16px 12px;
  padding-inline: 16px;
  border-radius: var(--bradius-inner);
}
.profileCardList__item > svg {
  height: 20px;
  width: 20px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    height: 24px;
    width: 24px;
  }
}
.profileCardList__item > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}
.profileCardList__item > div > span {
  font-size: 1.2rem;
  line-height: 1.35;
  opacity: 0.8;
}
.profileCardList__item > div > p {
  font-size: clamp(1.8rem, 1.5277vw, 2.2rem);
  font-weight: 500;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    font-size: clamp(2.4rem, 1.9444vw, 2.8rem);
    font-weight: 600;
  }
}

/*
   Events grid
   ========================================================================== */
.eventsSection {
  margin-bottom: 64px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 6.9444vw;
  }
}
.eventsSection__title {
  margin-block: 24px;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 8px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-inline: 3.333vw;
    margin-block: 2.222vw 3.3333vw;
    padding-bottom: 0.8333vw;
  }
}
.eventsList {
  list-style-type: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    padding-inline: 3.333vw;
    gap: 2.222vw 1.666vw;
  }
}
.eventsList > li {
  width: 100%;
}

.sessionStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sessionStatus > a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.noEventsFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
