/* ==========================================================================
   Categories List component for browse page
   ========================================================================== */
.categories {


}
.categories__wrap {
    display: flex;
    flex-direction: column;
    padding-block: 2.222vw 6.944vw;

}
.categoriesHeader {

}
.categories__btn {

}
.categoriesList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 16px;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        gap: 1.666vw;
    }

}
.categoriesList__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.categoriesList__img {
    width: 8.6805vw;
    height: 8.6805vw;
    border-radius: 9999px;

}
.categoriesList__text {
    margin-top: 12px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        margin-top: 1.111vw;
    }
}