.eventCard__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  z-index: 10;
}
.eventCard__actions > .buttons {
  display: flex;
  gap: 8px;
}

.btn__edit {
  flex: 1;
}
.btn__delete {
  border: none;
  background: var(--red);
  color: var(--bg);

  &:hover {
    background: var(--bg);
    color: var(--red);
  }
}

.eventsCard__media {
  position: relative;
  border-top-right-radius: var(--bradius);
  border-top-left-radius: var(--bradius);
  max-width: 100%;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    height: 29.298vh;
  }
}
.eventsCard__media > img {
  width: 100%;
  height: 41.1061vh;
  object-fit: cover;
  border-top-right-radius: var(--bradius);
  border-top-left-radius: var(--bradius);
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    height: 100%;
  }
}

.eventsCard__label {
  background: var(--bg-dark);
  border: 1px solid var(--primary);
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 200px;
  color: var(--white);
}

.eventsCard__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-block: 16px;
  padding-inline: 16px;
  border-bottom-left-radius: var(--bradius);
  border-bottom-right-radius: var(--bradius);
  transition: background 0.4s ease;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding: 1.666vw;
  }
}
.eventsCard__info > h4,
.eventCard__actions > h4 {
  margin-bottom: 0;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.right {
  padding-left: 16px;
}
.eventCard__date {
  display: flex;
  align-items: center;
  gap: 8px;
}
.eventCard__icon {
  min-width: 16px;
  min-height: 16px;
  transform: rotate(45deg);
  transition: transform 0.3s ease, color 0.3s ease;
}

.eventsCard__categories {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    top: 1.111vw;
    right: 1.111vw;
  }
}

.eventCard__link {
  position: relative;
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 9;
  border-radius: var(--bradius);
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
  }
}

.eventCard__link .eventCard__icon {
  transition: transform 0.2s ease-in-out 0.175s; /* Delay rotation */
}

.eventCard__link:hover .eventCard__icon {
  color: var(--bg-dark);
  transform: rotate(90deg);
}
.eventCard__link:hover .eventsCard__info {
  color: var(--bg-dark);
  background: var(--white);
}
