.filterCard {
    padding: 8px 16px;
    border: 1px solid var(--orange);
    background: var(--background);
    color: var(--white);
    border-radius: 6px;
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
    height: fit-content;
    transition: all 0.6s ease;
}
.title {
    margin-right: auto;

}
.button {
    margin-left: auto;
}

.filterCard__inner {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.filterCard__button {
    width: fit-content;
    margin-left: auto;
}

.expanded {
    height: 300px;
    opacity: 1;
}

.icon {
    transition: transform 0.3s ease;
  }
  
  .iconRotated {
    transform: rotate(45deg);
  }