/* Login Form */
.loginForm {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 1.5rem;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 24px;
  
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding: 3.333vw;
  }

  }
  .loginForm__title {
    text-align: center;
    margin-bottom: 8px;
  }
  
  .loginBtn {
    display: inline-flex;
    min-width: 125px;
    padding-block: 10px 9px;
    padding-inline: 18px;
    flex-shrink: 0;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    gap: 6px;
    border: 1px solid var(--primary);
    background: var(--bg);
    color: var(--primary);
    transition: background 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--primary);
        color: var(--bg);
    }

  }

  .login__text {
    color: var(--white);
    text-align: center;
  }
  .login__link {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--primary);
    font-family: var(--font-headings);
  }
