.formProgress {
  height: fit-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-dark);
  border-radius: var(--bradius);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 33.33%;
    padding: 1.6666vw;
  }
}

.progressStep {
  display: none;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-dark);
  border-radius: 4px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    display: flex;
    margin-bottom: 1.111vw;
    border: 1px solid transparent;
  }
}

.progressStep .stepNumber {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--bg-dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.progressStep.currentStep {
  background-color: var(--bg);
  display: flex;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    border: 1px solid var(--white);
  }
}

.progressStep.completedStep {
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    border: 1px solid var(--primary);
  }
}

.progressStep .checkIcon {
  color: var(--primary);
  margin-right: 10px;
}

.progressStep__title {
  margin: 0;
  font-size: 14px;
}

.progressStep__text {
  margin: 5px 0 0;
  opacity: 0.7;
}
