.eventSlide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--blue);
  border-radius: var(--bradius);
  padding: 16px;
  height: 52.3168vh;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding: 1.6666vw;
  }
}

.eventSlide__img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: var(--bradius);
}

.eventSlide__main {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 1.111vw;
  }
}
.eventSlide__title {
  margin-bottom: 8px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 0.555vw;
  }
}
.eventSlide__text {
}
.eventCard__link {
  margin-top: 24px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 32px;
    max-width: 20vw;
    align-self: flex-end;
  }
}
