.filterCard {
    padding: 8px 16px;
    border: 1px solid var(--primary);
    background: var(--bg-dark);
    color: var(--white);
    border-radius: 6px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: fit-content;
    transition: all 0.6s ease;
    position: relative;
}
.title {
    margin-right: auto;

}
.button {
}


.filterCard__inner {
    height: 0;
    opacity: 0;
    display: none;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
    background: var(--bg-dark);
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        padding-block: 1.111vw;
        padding-inline: 0.8333vw;
    }
    &:before {
        content: '';
        display: block;
        user-select: none;
        white-space: pre;
        height: 32px;
        width: 100%;
        top: 0;
    }

    position: static;
    z-index: auto;
    height: 0;
    top: calc(100% + 16px);
    overflow: hidden;
    opacity: 0;
    width: 100%;
  }
  
  .filterCard__inner.expanded {
    position: absolute;
    z-index: 1;
    height: auto;
    overflow: auto;
    opacity: 1;
    display: block;
  }

.filterCard__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.filterCard__button svg {
    transition: transform 0.3s ease-out;
}
.filterCard__button[aria-expanded="true"] svg {
    transform: rotate(180deg);
}

.expanded {
    height: 300px;
    opacity: 1;
}

.icon {
    transition: transform 0.3s ease;
  }
  
  .iconRotated {
    transform: rotate(45deg);
  }

.filterSelect {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        gap: 0.555vw;
    }

}
.filterSelect__item {
    padding: 12px;
    background: var(--bg-dark);
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        border: 1px solid var(--primary);
        background: var(--bg);
    }
}
.filterSelect__item > svg {
    opacity: 0;
    transition: all 0.2s ease;
}

.filterSelect__item.active > svg {
    opacity: 1;
}