
/* ==========================================================================
    SiteNav
   ========================================================================== */
  .col-12 {
    width: 100%;
  }
/* Header section */
.header {
    position: sticky;
    inset: 0 0 auto;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid var(--primary);
    padding-block: 12px;
    padding-inline: 16px;
    background: var(--bg);
    z-index: 10;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      padding-block: 1.111vw;
      padding-inline: 2.222vw;
    }

}
.siteNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.siteNav__logo {
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 0;

}
.siteNav__btn {
  display: none;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    display: flex;
  }
}

.profileOptions {
	display: none;
  gap: 16px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      gap: 1.111vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
  }
}

.profileOptions__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileOptions__icon {
  color: var(--primary);
}

.siteNav__toggle {
  display: flex;
  cursor: pointer;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    display: none;
  }

}
