.form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        gap: 2.2222vw;
    }
}
.formField {
    display: flex;
    flex-direction: column;
    padding-block: 24px;
    padding-inline: 16px;
    background: var(--bg-dark);
    border-radius: var(--bradius);
    border: 1px solid var(--primary);
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        padding: 1.6666vw;
    }
}
.formField__label, .formField > p {
    margin-bottom: 4px;
    color: var(--white);
    font-size: clamp(2.4rem, 1.9444vw, 2.8rem);
    font-weight: 600;
}

.formField__input, .formField > select {
    background: var(--bg-dark);
    border-radius: var(--bradius);
    border: 1px solid var(--primary);
    padding-block: 10px;
    padding-inline: 6px;
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        padding-block: 1.111vw;
        padding-inline: 1.666vw;
        width: 66%;
    }
}
.formField > select {
    &::marker {
        appearance: none;
        display: none;
    }
}
.formField > select > option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    width: 66%;

}
.form__imgUpload {
    display: flex;
    flex-direction: column;
    gap: 1.666vw;
    color: var(--white);
}
.form__imgUpload > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.form__imgUpload > div:first-of-type > h3 {
    margin-bottom: 0;
}
.formField__file{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-dark);
    border-radius: var(--bradius);
    width: 100%;
    height: 44.843vh;
    cursor: pointer;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        max-width: 50vw;
        height: 37.0370svh;
    }
}
.formField__file >  .formField__label {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-family: var(--font-body);
    cursor: pointer;
}
.formField__file >  input[type="file"] {
    align-self: flex-end;
}
.form__submit {
    max-width: 25.486vw;
    
}
.btn__primary {
    display: inline-flex;
    min-width: 125px;
    padding-block: 10px 9px;
    padding-inline: 18px;
    flex-shrink: 0;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 1px solid var(--primary);
    background: var(--bg);
    color: var(--primary);
    font-family: var(--font-headings);
    font-weight: 500;
    transition: background 0.3s ease-in-out;

    &:hover {
        background: var(--primary);
        color: var(--bg);
    }
} 

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

}
.radioOption {
    position: relative;
    display: flex;
    flex: 1;
    border-radius: var(--bradius);
    border: 1px solid transparent;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background: var(--bg);
    padding-block: 48px;padding-inline: 16px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        border: 1px solid var(--primary);
    }

    & > input[type="radio"] {
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: var(--bradius);
        }
    }
}
.active {
    border: 1px solid var(--primary);
}

.radio__label {

}

.ticketLinkField {
    margin-block: 16px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        margin-block: 1.666vw;
    }
}
.ticketLinkField > div {
    display: flex;
    flex-direction: column;
}
.ticketLinkField_title {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.formField__message {
    color: red;
    font-size: 1.2rem;
    line-height: 1.35;
    margin-top: 4px;
}
